* {
    box-sizing: border-box;
    font-family: "montserrat", arial, sans-serif;
}

body {
    background-color: #f2f2f2;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 0px 5px 5px grey;
    background-color: #333;
}

content {
    position: fixed;
    top: 3em;
    font-size: 2em;
}

.nav_links, .nav_user {
    list-style-type: none;
    overflow: hidden;
}

.nav_links li {
    float: left;
}

.nav_user li {
    float: right;
}

.nav_links li a {
    display: inline-block;
    color: #aaaaaa;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    padding: 1.5em 3em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav_links li a:hover {
    color: #ffffff;
    cursor: pointer;
}

#logo {
    padding: 0.5em 3em;
}

#logo img {
    height: 2.5em;
}

#user_icon {
    padding: 0.5em 3em 0.5em 1em;
}

#user_name {
    padding: 1.5em 1em 1.5em 3em;
}

#user_icon img {
    height: 2.5em;
}

#user_info {
    position:fixed;
    height: 100%; 
    width: 30%; 
}

#user_info table {
    margin-left:4em;
    margin-top:5em;
}

#card_info {
    position:fixed;
    margin-left:30%;
    height: 100%; 
    width: 70%; 
}

.div_info_carta {
    margin-top:1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    width: 60%;
    border-radius: 10px;
}

.div_info_carta table {
    width:100%;
    text-align:center;
}

#icona_carta {
    height:3em;
}

#table_username {
    font-size: 1em;
}

th {
    padding: 0.3em;
}

#table_email {
    color: grey;
    font-weight: lighter;
    font-size: 0.5em;
    font-style: oblique;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #333;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}