* {
    box-sizing: border-box;
    font-family: "montserrat", arial, sans-serif;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body, html {
    background-color: #f2f2f2;
    height:100%;
    width:100%;
    margin: 0;
}

#banner {
    width:100%;
    height:80%; 
    text-align: center;
}

.card {
    width: 16%;
    height: 46%;
    float: left;
    padding: 1%;
    margin-left: 13%;
}

.card img{
    height:50%;
}

#banner h2 {
    font-size: 2em;
    font-weight: lighter;
    margin: 0;
    color: black;
    padding-top: 8%;
    padding-bottom: 5%;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.01%;
    box-shadow: 0px 5px 5px grey;
    background-color: #333;
}

#content {
    font-size: 2em;
    height: 100%;
    width:100%;
}

.nav_links, .nav_user {
    list-style-type: none;
    overflow: hidden;
}

.nav_links li {
    float: left;
}

.nav_user li {
    float: right;
}

.nav_links li a {
    display: inline-block;
    color: #aaaaaa;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    padding: 1.5em 3em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav_links li a:hover {
    color: #ffffff;
    cursor: pointer;
}

#logo {
    padding: 0.5em 3em;
}

#logo img {
    height: 2.5em;
}

#user_icon {
    padding: 0.5em 3em 0.5em 1em;
}

#user_name {
    padding: 1.5em 1em 1.5em 3em;
}

#user_icon img {
    height: 2.5em;
}

#user_info {
    float: left; 
    width: 30%;
    height: 100%;

}

#user_info table {
    margin-left: 10%;
    margin-top: 40%;
    width: 80%;
    text-align: center;
}

#user_info table tr{
    width:100%;
}

#user_info table tr th{
    width:50%;
}

#user_info #table_username th{
    width:100%;
}

#user_info table tr th input[type=button] {
    width:100%;
}

#card_info {
    margin-top: 3%;
    float: left;
    width: 70%;
    height: 100%;
}

.div_info_carta {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    width: 90%;
    border-radius: 10px;
    margin-top: 2%;
    cursor: pointer;
}

.div_info_carta table {
    width:100%;
    text-align:center;
}

.table_info {
    font-size: 70%;
    color: grey;
    font-weight: lighter;
}

#icona_carta {
    height:3em;
}

#table_username {
    font-size: 1em;
}

th {
    padding: 0.3em;
}

#table_email {
    color: grey;
    font-weight: lighter;
    font-size: 0.5em;
    font-style: oblique;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #333;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text], [type=password], [type=email], [type=number], select{
    width: 63%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#add_card_form {
    width: 126%;
}

#tratte_buttons {
    float: left; 
    width: 30%;
    height: 100%;

}

#tratte_info {
    margin-top: 3%;
    float: left;
    width: 70%;
    height: 100%;
}

#tratte_buttons ul {
    list-style-type: none;
    width:100%;
    height:100%;
    padding: 0 10%;
}

#tratte_buttons ul li {
    float: left;
    width:100%;
    margin-top: 7%;
}

#tratte_buttons ul li input[type=button]{
    width:100%;
}

#tratte_info h1 {
    margin-left: 33%;
    font-size: 1.3em;
}

#tratte_info table {
    border-collapse: collapse;
    margin-left:5%;
    width: 80%;
    font-size: 0.6em;
}

#tratte_info table tr {
    width:100%;
}

#tratte_info table tr th{
    text-align: center;
    padding: 1%;
}

#tratte_info table tr:nth-child(even){background-color: #cccccc} 

.div_op_carta {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    width: 90%;
    margin-top: 2%;
    font-size: 0.7em;
    padding:1%;
}

.div_op_carta table {
    width:100%;
}

.div_op_carta tr, .div_op_carta th {
   padding: 0;
}

#add_method_form {
    width:95%;
}

#add_method_form table{
    width:100%;
    border-collapse: collapse;
    border:0;
    padding:0;
}

#add_method_form table tr{
    width:100%;
}

#add_method_form table tr th{
    width: 25%;
    padding: 0%;
}

#add_method_form table tr th input[type=text], #add_method_form table tr th input[type=number], #add_method_form table tr th select{
    width: 97%;
}